[package]
name = "nanors_entities"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
sea-orm.workspace = true
serde.workspace = true
